body {}

/* Секция черный слайдер фото */

.black__slider_photo {
    min-height: 783px;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Контейнер общий */

.container {
    max-width: 1171px;
    margin: 0 auto;
}

/* Контайнер черной секции */

.slider_photo_container {
    display: flex;
    justify-content: center;
    max-height: 553px;
    width: 100%;
    gap: 50px;
    /* flex-wrap: wrap; */
}

/* Блок в описанием и характеристиками */

.description_block {
    max-width: 442px;
    width: 100%;
    position: relative;
    /* background-color: blueviolet; */
}

.black__slider_photo__title {
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 37.422px */
    letter-spacing: -1.89px;
    text-transform: uppercase;
    max-width: 253px;
    margin-top: 55px;
    width: 100%;
    /* position: relative; */
}

.black__slider_photo__title_gold_line {
    width: 92px;
    height: 1px;
    flex-shrink: 0;
    position: absolute;
    background: #E3B873;
    left: 148px;
    top: 108px;
}

.black__slider_photo__description {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%;
    /* 26.734px */
    max-width: 442px;
    margin-top: 34px;
}

.black__slider_photo__perfomance_container {
    display: flex;
    max-width: 442px;
    margin-top: 42px;
}

.perfomace_block__first {
    width: 161px;
}

.perfomace_block__second {
    width: 213px;
}

.perfomace_block__container {
    height: 100px;
}

.perfomace_block__title {
    /* width: 156px; */
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 24.948px */
    text-transform: uppercase;
    margin-bottom: 9px;
}

.perfomace_block__description {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 21.278px */
}

/* Стрелочки */

.black__slider_photo__arrows {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.black__slider_photo__arrows_item:hover{
    cursor: pointer;
}

/* Блок с фото и навигацией */

.slider_photo_block {
    max-width: 679px;
    /* background-color: rgb(57, 70, 69); */
}

/* Блок навигации */

.slider_photo_block__navigation {
    color: rgba(255, 255, 255, 0.30);
    font-family: Yeseva One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 19.404px */
    text-transform: uppercase;
}

.slider_photo_block__list {
    display: flex;
    gap: 61px;
    margin-bottom: 51px;
}

.slider_photo_block__link:hover{
    cursor: pointer;

}

.gold_text {
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 19.404px */
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 7px;
}

/* Блок фотографии */

.slider_photo_block__picture {
    background: url("images/png/slider_photo_1.png"), lightgray 50% / cover no-repeat;
    width: 679px;
    height: 482px;
    background-size: cover;
    /* width: 100%; */
    /* margin-top: 53px; */
}